* {
  box-sizing: border-box;
  outline: 0;
}

body {
  background: #ebebeb;
}

main {
  padding: 2rem 3rem; 
  line-height: 1.5rem;
}

body, 
input, 
button, 
option {
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: #000;
}

/* Synth */

/* grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: space-evenly;
    padding: 20px;
  }

.grid-item-one {
  grid-column: 1;
  grid-row: 1;
}
  
.grid-item-two {
  grid-column:3;
  grid-row: 1;
}
.grid-item-three {
 grid-column: 1;
 grid-row: 2;
} 

.grid-item-four {
  grid-column: 2;
  grid-row: 2;

}

.grid-item-five {
  grid-column: 3;
  grid-row: 2;

}

.grid-item-six {
  grid-column: 1;
  grid-row: 3;

}

.grid-item-seven {
  grid-column: 2;
  grid-row: 3;
}

.grid-item-eight {
  grid-column: 3;
  grid-row: 3;
}

#gain-master,
#filter-R,
#lfo-amount {
  width: 220px;
}

#filter-C,
#lfo-rate {
  width: 280px;
}

.osc-detune {
  width: 120px;
}

.osc-freq {
  width: 100%;
  max-width: 350px;
}

.margin {
  margin: 0px 15px 15px 0px;
}

#osc1-note-display,
#osc2-note-display,
#osc3-note-display{
  margin-right: 20px;
}

button {
  background-color: #000;
  outline: none;
  border: 0;
  color: #fff;
  margin-right: 5px;
  padding: 5px;
  font-size: 18px;  
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgb(192, 151, 233);
}

button a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.5s ease;
}

#on-off-master {
  font-size: 20px;
}
#preset-random {
  font-size: 16px;
  margin-top: 10px;
}

.button-on,
#help-btn {
  background-color: rgb(192, 151, 233);
  outline: none;
  border: 0;
}

#visualizer-osc-1,
#visualizer-osc-2,
#visualizer-osc-3 {
  margin-top: 20px;
}


/* help */
ul,
ol {
  padding: 20px;
}

#help ol,
#help p {
  text-align: justify;
}
 
#grafico-teclado {
  display: block;
  margin: 10px;
  width: 100%;
  max-width: 1000px;
  min-width: 350px;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}


/* Responsive */

@media (max-width: 340px) {  
  canvas {
    width: 250px;
  }
}
@media (min-width: 360px) and (max-width: 629px) {
  canvas {
    width: 440px;
    max-width: 100%;
  }
}

@media (max-width: 629px) {
  .grid-container {
    display: block;
  }  
  
  section[class^="grid-item"] {
    margin-bottom: 30px;
  }

  main {
    padding: 1rem;
    font-size: 16px;
  }

  ol,
  p {
    width: 100%;
  }

  #grafico-teclado,
  #osc3-free,
  .note-display,
  .octave-display {
    display: none;
  }

}



@media (min-width: 630px) and (max-width: 900px) {
  /* grid */
  .grid-container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: space-evenly;
    padding: 20px;
  }

  .grid-item-one {
  grid-column: 1;
  grid-row: 1;
  }

  .grid-item-two {
  grid-column:2;
  grid-row: 1;
  }
  .grid-item-three {
  grid-column: 1;
  grid-row: 2;
  } 

  .grid-item-four {
  grid-column: 2;
  grid-row: 2;

  }

  .grid-item-five {
  grid-column: 1;
  grid-row: 3;

  }

  .grid-item-six {
  grid-column: 2;
  grid-row: 3;

  }

  .grid-item-seven {
  grid-column: 1;
  grid-row: 4;
  }

  .grid-item-eight {
  grid-column: 2;
  grid-row: 4;
  }
}

@media (max-width: 900px) {
  footer {
    flex-direction: column;
  }
}