/* CSS grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: space-evenly;
    padding: 20px;
  }

.grid-item-one {
  grid-column: 1;
  grid-row: 1;
}
  
.grid-item-two {
  grid-column:3;
  grid-row: 1;
}
.grid-item-three {
 grid-column: 1;
 grid-row: 2;
} 

.grid-item-four {
  grid-column: 2;
  grid-row: 2;

}

.grid-item-five {
  grid-column: 3;
  grid-row: 2;

}

.grid-item-six {
  grid-column: 1;
  grid-row: 3;

}

.grid-item-seven {
  grid-column: 2;
  grid-row: 3;
}

.grid-item-eight {
  grid-column: 3;
  grid-row: 3;
}

.grid-item-nine {
  grid-column: 1 / 3;
  grid-row: 4;
}

.grid-item-ten {
  grid-column: 3;
  grid-row: 4;
} 

* {
  box-sizing: border-box;
}

body, input, button, option {

    font-family: 'Courier New', Courier, monospace;
}

.slider-width {
    width: 220px;
}

.slider-width2 {
  width: 280px;
}

.text-input-size {
  width: 70px;
}
.text-input-size2 {
  width: 40px;
}

.margin {
  margin: 0px 15px 15px 0px;
}

.margin-right {
  margin-right: 20px;
}

.margin-top {
  margin-top: 10px;
}

.no-margin {
  margin: 0px;
  padding: 0px;
}

#on-off-master {
  margin-right: 5px;
  font-size: 18px;
  padding: 5px;
}

.button-on {
  background-color: rgb(175, 130, 221);
  color: white;
  border-radius: 3px;
  outline: none;
}

#osc1-on-off, #osc2-on-off, #osc3-on-off {
  padding: 5px;
}
main {
  padding: 40px;
}

#grafico {
  margin: 20px;
}

#help {
  font-size: 20px;
}

ol {
  text-align: justify
}

li {
  width: 80%;
}
a {
  color: rgb(107, 58, 153);
}
a:visited {
  color:  rgb(107, 58, 153);;
}

#help:hover {
  animation-name: shadow;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
@keyframes shadow {
  100% {
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.3);
  }
} 

